.pizza-items-container {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: flex-end;
}

.pizza-items {
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;  
}

.undo-button {
    
    border: 1px solid #7ca2b7;
    border-radius: 100%; 
    background-color: white;
    color: #7ca2b7;
    cursor: pointer; 
    font-size: 28px;
}


.undo-button-container{
    margin: 20px;
}

.undo-button:hover {
    background-color: #76adca;
    color:white;
}

.undo-button:focus {
    color: #d01d8a; 
}

.undo-sign{
    margin: 20px;
}