<h1>Pizza</h1>
<div class="accordion" id="pizzaAccordion">
  <div *ngFor="let pizza of pizzas.controls as FormArray; let i = index" class="accordion-item" [ngClass]="{ 'active': selectedItemIndex === i }">
    <p class="accordion-title" (click)="selectedItemIndex = i">
      <span class="arrow" [ngClass]="{ 'down': selectedItemIndex === i, 'up': selectedItemIndex !== i }"></span>
      {{ pizza.get('name')?.value }}
  </p>
    <div class="accordion-body" *ngIf="selectedItemIndex === i">
      <app-pizza-item
        [pizzaForm]="pizza"
        [pizzaIndex]="i">
      </app-pizza-item>
    </div>
  </div>
</div>

